# Byte-compiled / optimized / DLL files
/__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE files
.idea/
.vscode/

# Environment
env/
venv/
env.bak/
env1/
venv1/
subscriber/.env
